@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Telas de cadastro e login */

.cadastro-body {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/cadastro-login-banner.png);
    background-position-x: -4px;
    background-size: cover;
    filter: brightness(1.5);
}

.cadastro-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cadastro-imagem-cobra {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: -10vh;
    left: -20vw;

    /* define como o elemento se relaciona com os outros elementos */
    z-index: 1;
    /* altera ordem em que os elementos serão carregados */

}

.cadastro-imagem-logo {
    width: 100px;
    position: fixed;
    right: 10px;
    top: 10px;
}

.cadastro-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    align-items: center;
    color: white;
    border-radius: 16px;
    background-color: rgba(66, 42, 42, 0.96);
    /* rgb + opacidade */
    position: relative;
    z-index: 2;
    padding: 0.5rem;

    width: 50vw;
    height: 80vh;
}


.cadastro-box h1 {
    font-size: 3.4rem;
    color: #769F51;
    font-weight: normal;
}

.cadastro-box-campos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;

    text-wrap: nowrap;
    padding-bottom: 0.4rem;
}

.cadastro-box-campos span {
    display: flex;
    padding: 0.4rem;
    font-size: 14px;
    padding-bottom: 1rem;
}

.cadastro-box-campos input {

    margin-left: 20px;
    width: 70%;
    height: 100%;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
    color: white;
}

.cadastro-box-campos input:focus {
    background-color: transparent;
    outline: none;
    /* remover contorno do campo input */

}

.cadastro-box a {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

.cadastro-box-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.cadastro-box button {
    display: flex;
    align-items: center;
    
    background-color: rgb(55, 73, 39);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    filter: brightness(0.8);

    font-weight: bold;
    padding: 0.7rem;
    margin-top: 0.5rem;
}


.cadastro-acoes {
    padding-top: 1rem;
    padding-bottom: 1rem;
}