/* Sobre Nós */

.principal-sobreNos {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.sobreNos-texto {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px;
    justify-content: center;
}

.sobreNos-texto h1 {
    color: var(--green2);
    font-size: 36px;
    font-weight: 800;
}

.sobreNos-texto p {
    font-size: 22px;
    color: var(--green3);
}

.btn_saberMais {
    background-color: var(--green4);
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 6px;
    border: 1px solid var(--green4);
}

.sobreNos-imagem {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.sobreNos-imagem img {
    width: 12.5rem;
}

.sobreNos-imagem p {
    color: var(--green3);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

hr {
    border: 3px solid var(--green5);
    width: 60%;
    margin: 60px auto;
    border-radius: 8px;
}


.principal-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
}

.card-identidade {
    display: flex;
    flex-direction: column;
    background-color: var(--green3);
    width: 25%;
    color: white;
    height: 12.5rem;
    padding: 10px;
    border-radius: 15px;
}

.identidade-titulo {
    display: flex;
    gap: 10px;
    align-self: center;
    align-items: center;
    height: 20%;
    font-size: 22px;
}

.identidade-titulo img {
    width: 35px;
}

.identidade-paragrafo {
    text-align: center;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.principal-carrosel {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--green3);
    color: white;
    height: 19rem;
    padding-top: 15px;
    margin-bottom: 40px;
}

.carrossel-titulo {
    text-align: center;
    font-size: 24px;
}

.carrossel-paragrafo {
    display: flex;
    align-items: center;
    text-align: center;
    height: 80%;
    font-size: 22px;
    justify-content: space-evenly;
}

.carrossel-paragrafo p {
    width: 70%;
}

.carrossel-paragrafo img {
    width: 2.5rem;
}

.principal-equipe {
    margin-bottom: 60px;
}


.equipe-card {
    display: flex;
    justify-content: center;
}

.card-imagem {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    align-items: center;
}

.card-imagem h1 {
    color: var(--green2);
    margin-bottom: 10px;
    font-size: 30px;
}

.card-imagem img {
    width: 70%;
    margin-top: 10px;
}