@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Inter;
}

/* Header */

.cabecalho {
    border-top: 46px solid #0F4B2D;
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 10px #0F4B2D;
}

.cabecalho .logo img {
    margin-left: 60px;
    width: 162px;
    height: 162px;
}

.cabecalho .menu {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.cabecalho .menu ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}

.cabecalho .menu ul li a{
    display: flex;
    color: black;
    font-size: 20px;
}

.cabecalho .menu ul li a img{
    width: 22px;
    filter: brightness(0%);
    height: auto;
}

.cabecalho .menu .agora {
    color: #1c834f;
}

.cabecalho .menu .agora img {
    filter: brightness(60%);
}

/* Banner */

.banner {
    color: white;
    background: url(../assets/imgs/HerpSafe\ -\ home\ -\ banner.png);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.banner h1 {
    padding-left: 4%;
    padding-top: 2%;
    width: 900px;
    font-size: 80px;
    line-height: 0.9;
}

.banner button {
    margin-left: 4%;
    margin-top: 2%;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    width: 163px;
    height: 52px;
    box-shadow: 0px 5px 5px #272727
    
}