*{
    overflow-y: hidden;
}

.cadastro-recinto{
    display: flex;
    justify-content: center;
    background-color: #044036;
    color: #FEFFFB;
    padding: 2rem;
    width: 50vw;
    height: 70vh;

    border-radius: 4px;
}

input{
background-color: #759A84;
border-radius: 3px;
padding: 0.4rem;

}

select {
    padding: 0.4rem;
}

#cadastro-recinto-button{
    background-color: #FFFFFF;
    color: #044036;
    border-radius: 3px;
    width: 11rem;
    align-self: center;

    margin-top: 2rem;
    font-weight: bold;
    padding: 0.7rem;
}

.cadastro-recinto-input{
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 0.5rem;
}

.cadastro-recinto-h1{
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    color: #20673E;
    padding-bottom: 2rem;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    padding-left: 16rem;
}

.div_campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.div_link {
    width: 70vw;
    height: 100%;
}

#link-voltar {
    text-decoration: none;
    font-size: 30px;

    color: #044036;
    font-weight: bold;
    padding-bottom: 1rem;
}