* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: Inter, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20402E;
    color: white;
    display: flex;
}

.principal {
    padding-left: 18rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.principal-visao {
    padding: 30px;
    position: relative;
    width: 100%;
}

.titulo-recintos {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_boxes-monitoramento {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 2.4rem;
    width: 100%;
}

.box-monitoramento {
    background-color: #3C6A54;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.titulo-box {
    font-weight: bold;
    margin-bottom: 8px;
}

.numero-monitoramento {
    font-size: 30px;
}

.Pratileiras {
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Pratileira1{
    width: 100%;
}

.section_visao-recintos {
    width: 100%;
}

.button-pratileira1 {
    background-color: #C8A52B;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 14rem;
    border: solid #5b4702 3px;
    color: white;
}

.expandir-recintos,
.expandir-recintos2 {
    display: none;
    position: absolute;
    top: 26rem;
    left: 1.25rem;
    z-index: 10;
}

.ativo {
    display: block;
}

.box-recinto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65rem;
    height: 18rem;
    padding: 1rem;
    background-color: #15583c;
    margin-top: 1rem;
}

.box-recinto img {
    width: 5rem;
    height: 7rem;
    margin-right: 10px;
}

.recinto1-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 16rem;
    padding: 1rem;
    background-color: #6c8d7f;
    margin-right: 20px;
}

.temperatura-recinto1 {
    display: flex;
    flex-direction: column;
}

.umidade-recinto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-umidade {
    display: flex;
    flex-direction: row;
}

.titulo-box-recinto {
    font-size: 16px;
    color: white;
}

.section_btn_links{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 80px;
    margin-bottom: 20px;
}

.section_btn_links button{
    height: 70%;
    background-color: #6c8d7f;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 18px;
}

.section_btn_links button:hover{
    background-color: #5b4702;
    transition: 0.5s;
}