* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: Inter, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3C6A54;

    color: white;
    display: flex;
}

.principal {
    padding-left: 18rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.principal-visao {
    padding: 30px;
    position: relative;
    width: 100%;
}

.titulo-recintos {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_boxes-monitoramento {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 2.4rem;
    width: 100%;
}

.box-monitoramento {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    width: 100%;

    background-color: #20402E;
}

.titulo-box {
    font-weight: bold;
    margin-bottom: 8px;
    text-wrap: nowrap;
    
}

.numero-monitoramento {
    font-size: 40px;
}

#div_qtdRecintosMonitorados, #div_qtdSensoresAtivos {
  color: #94e8b4;
  font-weight: bold;
}

#div_qtdRecintosComProblemas, #div_qtdAlertas {
  color: #f57777;
  font-weight: bold;
}

/* 
                    <div class="numero-monitoramento" id="div_qtdRecintosMonitorados"></div>
                    <div class="numero-monitoramento" id="div_qtdSensoresAtivos"></div>
                    <div class="titulo-box">Recintos com Problemas</div>
                    <div class="numero-monitoramento" id="div_qtdRecintosComProblemas"></div>
                    <div class="numero-monitoramento" id="div_qtdAlertas"></div>
                </div> */

.section-visao-prateleiras {
    width: 73.3vw;
    height: 50vh;
    background-color: #20402E;
    
    padding: 1rem;

    border-radius: 4px;

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

.Pratileiras {
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.button-pratileira1 {
    background-color: #C8A52B;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 14rem;
    border: solid #5b4702 3px;
    color: white;

    cursor: pointer;
}

.button-pratileira1:hover {
    background-color: #524412;
    transition-duration: 1s;
    margin-bottom: 0.1rem;
}

.expandir-recintos,
.expandir-recintos2 {
    display: none;
    position: absolute;
    top: 79vh;
    left: 2.2vw;
    z-index: 10;
}

.ativo {
    display: block;
}

.box-recinto {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 73.3vw;
    height: 50vh;
    padding: 1rem;
    background-color: #15583c;
    margin-top: 1rem;

    border-radius: 4px;

}

.recinto1-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 16rem;
    padding: 1rem;
    background-color: #8c9918;
    margin-right: 20px;

    border-radius: 4px;
    cursor: pointer;
}

.temp-umidade {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.temperatura-recinto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    img {
        padding-top: 1rem;
        width: 3rem;
    }
}

.umidade-recinto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    img {
        padding-top: 1rem;
        width: 3rem;
    }
}

.titulo-box-recinto {
    font-size: 16px;
    color: white;
}

.section_btn_links{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 80px;
    margin-bottom: 20px;
}

.section_btn_links button{
    height: 70%;
    background-color: #001B0A;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 18px;

    cursor: pointer;
}

.section_btn_links button:hover{
    background-color: #5b4702;
    transition: 0.5s;
}